{% extends "base.html" %}
{% block content %}

    <!--============================= BOOKING =============================-->
    <div>
        <!-- Swiper -->
        <div class="swiper-container swiper1">
            <div class="swiper-wrapper">
                {% for st in store.link_image %}
                <div class="swiper-slide">
                        <a href="{{ st }}" class="grid image-link">
                            <img src="{{ st }}" style = "height:400px" class="img-fluid" alt="#">
                        </a>       
                </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <template id="relst-template">
        <div class="col-4" style="">
            <div class="content">              
                <a href="" class="grid image-link" id="link-rl">
                    <img src="" id="image-rl" style = "height:200px; width: 200px; min-height: 200px;" class="img-fluid" alt="#">
                </a>   
                <p class ="title" id="title-rl">
                </p>    
                <p class ="price" id="price-rl">
                </p>
            </div>
            <div style="text-align:center;">
                <!-- Button trigger modal -->
            <button style="margin-bottom: 10px;" onclick="getCompare(this)" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" value ="" id = "recStore">
                So sánh
            </button>
            </div>
            
        </div>
    </template>
    <!--//END BOOKING -->
    <!--============================= RESERVE A SEAT =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6">
                    <h5>{{ store.name }}</h5>
                    <br><br>
                    <p class="reserve-description">
                        Danh mục: 
                        {% for ct in category %}
                            {{ ct.name }} ,
                        {% endfor %}...
                    </p>
            
                    <br><br>
                    <div class="res-common-minmaxprice">
                        <span class="fa fa-tag minmaxpriceicon" style="font-size:14px"></span>
                        <span itemprop="priceRange">
                                <span> Mức giá: {{ store.min_price }}đ - <span>{{ store.max_price }}</span>đ
                            </span>
                        </span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="reserve-seat-block">
                        <div class="reserve-rating">
                            <a>ĐIỂM: {{((store.score_sentiment+1)*5)|round(2)}}</a>
                        </div>
                            &nbsp; &nbsp;
                        <div  class="reserve-rating">
                            <a >{{ store.reviewer_quant }} NHẬN XÉT</a>
                        </div>
                        <!-- <div class="reserve-btn">
                            <div class="featured-btn-wrap">
                                <a href="#comment" class="btn btn-danger">{{ store.reviewer_quant }} NHẬN XÉT</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END RESERVE A SEAT -->
    <!--============================= BOOKING DETAILS =============================-->
    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row">
                <!-- START Modal -->
                <div class="modal fade bd-example-modal-lg" id="myModal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Bảng so sánh các thông số</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body" style="text-align: center;">
                            <table id="alter" align="center">
                                <tr>
                                    <th>Cửa hàng</th>
                                    <th>Số sao</th>
                                    <th>Số nhận xét</th>
                                    <th>Khoảng cách</th>
                                    <th>Điểm đánh giá</th>
                                </tr> 
                                <tr>
                                    <td>{{store.name}}</td>
                                    <td>{{store.stars}} <span class="fa fa-star checked " style="font-size:16px"></span></td>
                                    <td>{{store.reviewer_quant}}</td>
                                    <td id="show-distanceCur"></td>
                                    <td id="show-classifyCur"></td>
                                </tr>
                                <tr>
                                    <td id="show-storeRec"></td>
                                    <td id ="show-starRec">  
                                    <td id="show-reviewRec"></td>
                                    <td id="show-distanceRec"></td>
                                    <td id="show-classifyRec"></td>
                                </tr>
                                
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <!-- <button type="button" class="btn btn-primary " href ="/stores/">Xem chi tiết</button> -->
                        </div>
                    </div>
                    </div>
                </div>

                <!-- END Modal -->
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            <p style="color: black;">
                                <script>
                                    var description =  $('<textarea />').html("{{store.description}}").text();
                                    console.log(description)
                                    if(description == "None"){
                                        description = "Chưa có mô tả";
                                    }
                                    
                                    document.write(description)
                                </script>
                            </p>
                            <hr>
                        </div>
                        <span class="heading">Tự động phân loại</span>
                        <hr style="border:3px solid #f1f1f1">
                        <div class="row">
                            {% for k,v in cate_dict.items() %}
                                <div class="side">
                                    <div>{{k.upper()}}</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-1" style="--bar1: {{ v*100 }}%;"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>{{ (v*100)|round(2) }} %</div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <!-- SHOW USER RATING-->
                        <span class="heading">Đánh giá cửa hàng</span>
                        <!-- Show stars -->
                        <p id="show-star"></p>
                        <!--End show stars -->
                        <p>{{ store.stars }} điểm trung bình dựa trên {{ store.reviewer_quant }} nhận xét.</p>
                        <hr style="border:3px solid #f1f1f1">

                        <div class="row">
                            <div class="side">
                                <div>5 sao</div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-5" style="--bar5: {{ star_s5 }}%;"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>{{ store.star_s5 }}</div>
                            </div>
                            <div class="side">
                                <div>4 sao</div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-4" style="--bar4: {{ star_s4 }}%;"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>{{ store.star_s4 }}</div>
                            </div>
                            <div class="side">
                                <div>3 sao</div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-3" style="--bar3: {{ star_s3 }}%;"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>{{ store.star_s3 }}</div>
                            </div>
                            <div class="side">
                                <div>2 sao</div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-2" style="--bar2: {{ star_s2 }}%;"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>{{ store.star_s2 }}</div>
                            </div>
                            <div class="side">
                                <div>1 sao</div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-1" style="--bar1: {{ star_s1 }}%;"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>{{ store.star_s1 }}</div>
                            </div>
                        </div>


                        <!-- END SHOW USER RATING-->


                    </div>
                    
                    <div id = "comment" class="booking-checkbox_wrap mt-4" style="height:500px;overflow: auto">
                        <h5>{{ store.reviewer_quant }} nhận xét</h5>
                        <hr>

                        <!-- SHOW COMMENT -->
                    
                        <!-- div to contain the content -->
                        <div id="scroller" class="mb-3">

                            <!-- template schema, hidden from the dom -->
                            <template id="post_template">
                                
                                <div class="customer-review_wrap">
                                    <div class="customer-img" id = "show-comment-user">
                                    </div>
                                    <p id="show-date"></p>
                                    <div class="customer-content-wrap">
                                        <div class="customer-content">
                                            <div class="customer-review">
                                                <h6 class="text-muted" id="star-num-text"></h6>
                                                <p id= "show-star-user"></p>
                                            </div>
                                            <div class="customer-rating" id ="star-num"></div>
                                        </div>
                                        <p class="customer-text" id ="detail"> </p>
                                        <!-- <span>28 người đánh giá bình luận này hữu ích.</span> -->
                                        <div id="fb-root"></div>
                                        <!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>
                                        <div class="fb-like" data-href="http://localhost:5000/stores/5e5135f57e1581df6425f14c#" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div> -->
                                        <!-- <a href="#"><span class="icon-like"></span>Helpful</a> -->
                                    </div>
                                </div>
                            <hr>
                            </template>

                        </div>

                        <!-- element to trigger the IntersectionObserver -->
                        <div class="d-flex justify-content-center mb-3" id="sentinel">
                            <div class="spinner-border" role="status"></div>
                        </div>
                        <hr>
    
                        <!-- END SHOW COMMENT -->

                        
                    </div>
                    {% if current_user %}
                    <div class="booking-checkbox_wrap mt-4">
                        

                        <form class="form form-horizontal col-md-12" method="POST" action="/stores/{{store_id}}">
                        {{ form.csrf_token }}
                        <h6>Viết nhận xét.</h6>
                        <!-- <label for="email"><b>Nhập tên:</b></label> <br>
                        <input type="text"  name="name" required><br> -->
                        <!-- {% for subfield in form.star %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                        {% endfor %} -->
                        
                        <div class="stars">
                        
                            <input class="star star-5" id="star-5" type="radio" name="star" value=5 />
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" value=4 />
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" value=3 />
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" value=2 />
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" value=1 />
                            <label class="star star-1" for="star-1"></label>
                        </div>
                        {% if error %}
                                            <div class="input-group mb-3">
                                                <div class="alert alert-danger fade show mb-0 w-100"
                                                     role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <i class="fa fa-bug mx-2"></i>
                                                    <strong>{{ error }}</strong></div>
                                            </div>
                        {% endif %}
                        <!-- <textarea rows="8" cols="78" name="comment"> 
                        </textarea> -->
                        <div class="form-group">
                            <div class="input-group mb-3">
                                {{ form.comment(placeholder="Nhập nhận xét ở đây...", class="form-control", rows="8") }}
                            </div>
                        </div>

                        {% if form.comment.errors %}
                            {% for error in form.comment.errors %}
                                <div class="form-group">
                                    <strong class="text-warning d-block mb-2">
                                        {{ error }}
                                    </strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <br>
                        <button type="submit" class ="btn btn-primary" value="Đăng">Đăng</button>
                        </form>
                        
                    </div>
                    {% endif %}
                    
                </div>
                <div class="col-md-4 responsive-wrap">
                    <div class="contact-info">
                        <div id="map"></div>
                        <div class="address">
                            <span class="icon-location-pin"></span>
                            <p>{{ address.detail }}</p>
                        </div>
                        <!-- <div class="address">
                            <span class="icon-screen-smartphone"></span>
                            <p> +44 20 7336 8898</p>
                        </div> -->
                        <!-- <div class="address">
                            <span class="icon-link"></span>
                            <p>https://burgerandlobster.com</p>
                        </div>
                        <div class="address">
                            <span class="icon-clock"></span>
                            <p>Mon - Sun 09:30 am - 05:30 pm <br>
                                <span class="open-now">OPEN NOW</span></p>
                        </div> -->
                        <a href="#" class="btn btn-outline-danger btn-contact">CHỈ ĐƯỜNG</a>
                    </div>
                    <div class="overflow-auto" id="please-scroll" style="height: 400px;">
                        {% for k,v in entity_dict %}
                            <button type="button" class="btn btn-warning col-12" style="margin-bottom: 5px; text-align: left;">
                                <b style="color: red;">{{k}}</b> - Score: {{((v.sentiment/v.quantity+1)*5)|round(2)}} <span class="badge badge-light">{{v.quantity}}</span>
                            </button>
                            <br>

                        {% endfor %}
                    </div>

                    <!-- <div class="follow">
                        <div class="follow-img">
                            <img src="images/follow-img.jpg" class="img-fluid" alt="#">
                            <h6>Christine Evans</h6>
                            <span>New York</span>
                        </div>
                        <ul class="social-counts">
                            <li>
                                <h6>26</h6>
                                <span>Listings</span>
                            </li>
                            <li>
                                <h6>326</h6>
                                <span>Followers</span>
                            </li>
                            <li>
                                <h6>12</h6>
                                <span>Followers</span>
                            </li>
                        </ul>
                        <a href="#">FOLLOW</a>
                    </div> -->
                </div>
                
                <div class="col-md-8 responsive-wrap">
                    <div style="padding-top: 30px;">
                        <span class="heading">CÁC CỬA HÀNG LIÊN QUAN</span>
                    </div>
                    
                    <div class="booking-checkbox_wrap mt-4">
                        <div class="">
                            <div class="row" id="swiper-rl">
                                
                            </div>
                            <p class="col-12" id="loading-text"></p>
                            <button id="load-more-st" class='btn btn-success col-12' onclick="loadrlStore()" disabled>Xem thêm ...</button>
                        </div>
                        <!-- Add Arrows -->
                        <!-- <div class="swiper-button-next" onclick="loadrlStore()"></div>
                        <div class="swiper-button-prev"></div> -->
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
    <script>
        var swiper1 = new Swiper('.swiper1', {
            slidesPerView: 3,
            spaceBetween: 2,
            slidesPerGroup: 3,
            loop: true ,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
        var swiper2 = new Swiper('.swiper2', {
            slidesPerView: 3,
            slidesPerColumn: 2,
            spaceBetween: 20,
            slidesPerGroup: 3,
            loop: false ,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var lat = Number('{{address.latitude}}');
            var lng = Number('{{address.longtitude}}');
            var uluru = {lat, lng};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 12, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
    </script>
    <script>
        var i = 0;
        var text = "";
        for (; i < '{{cnt}}'; i++) {
            text += "<span class=\"fa fa-star icon-c\"></span>";
        }
        if ('{{avr_star}}' - '{{cnt}}' >= 0.5) {
            text += "<span class=\"fa fa-star-half icon-c\"></span>";
        }
        document.getElementById("show-star").innerHTML = text;
    </script>


<script>
    // Get references to the dom elements
var scroller = document.querySelector("#scroller");
var template = document.querySelector('#post_template');
// var loaded = document.querySelector("#loaded");
var sentinel = document.querySelector('#sentinel');

// Set a counter to count the items loaded
var counter = 0;

// Function to request new items and render to the dom
function loadItems() {

    // Use fetch to request data and pass the counter value in the QS
    fetch(`/load/{{store_id}}?c=${counter}`).then((response) => {
        // Convert the response data to JSON
        response.json().then((data) => {

            // If empty JSON, exit the function
            if (!data.length) {

                // Replace the spinner with "No more posts"
                sentinel.innerHTML = "Không còn bình luận nào.";
                return;
            }
            // Iterate over the items in the response
            for (let i = 0; i < data.length; i++) {
                // Clone the HTML template
                let template_clone = template.content.cloneNode(true);
                
                // // Query & update the template content
                let j = 0;
                var userStar = "";
                var showUser = `<img src=\"{{url_for('static',filename='images/noname.png')}}\" class=\"img-fluid\"  alt=\"#\"><p id=\"username\">${data[i].cus_name}</p>`;
                // if (data[i].users[0]){
                //     if (data[i].users[0].link_image){
                //         showUser = `<img src=\"${data[i].users[0].link_image}\" class=\"img-fluid\"  alt=\"#\"><p id=\"username\">${data[i].users[0].email.replace("@gmail.com","")}</p>`;
                //     }
                //     else{
                //         showUser = `<img src=\"{{url_for('static',filename='images/noname.png')}}\" class=\"img-fluid\"  alt=\"#\"><p id=\"username\">${data[i].users[0].email.replace("@gmail.com","")}</p>`;
                //     }
                // }
                for (; j < data[i].star_num; j++) {
                    userStar += "<i class=\"fa fa-star icon-c\"></i>";
                }
                console.log(data[i])
                if (typeof data[i].detail == "undefined") {
                    template_clone.querySelector("#detail").innerHTML = ""
                } else {
                    template_clone.querySelector("#detail").innerHTML = data[i].detail;
                }
                template_clone.querySelector("#star-num").innerHTML = data[i].star_num;
                template_clone.querySelector("#star-num-text").innerHTML = `Đã đánh giá  ${data[i].star_num} sao.`;
                template_clone.querySelector("#show-star-user").innerHTML = userStar;
                let date = new Date(data[i].updated_on.$date)
                let strDate = date.getUTCFullYear().toString() + "/" +
                    (date.getUTCMonth() + 1).toString() +
                    "/" + date.getUTCDate() + " " + date.getUTCHours() +
                    ":" + date.getUTCMinutes() + ":" + date.getUTCSeconds();
                template_clone.querySelector("#show-date").innerHTML = strDate;
                template_clone.querySelector("#show-comment-user").innerHTML = showUser;

                // Append template to dom
                scroller.appendChild(template_clone);
                
                // Increment the counter
                counter += 1;
                // Update the counter in the navbar
                // loaded.innerText = `${counter} bình luận được hiển thị.`;
                

            }
        })
    })
}

    // Create a new IntersectionObserver instance
    var intersectionObserver = new IntersectionObserver(entries => {

    // Uncomment below to see the entry.intersectionRatio when
    // the sentinel comes into view

        entries.forEach(entry => {
            console.log(entry.intersectionRatio);
        })

        // If intersectionRatio is 0, the sentinel is out of view
        // and we don't need to do anything. Exit the function
        if (entries[0].intersectionRatio <= 0) {
            return;
        }

        // Call the loadItems function
        loadItems();

    });

    // Instruct the IntersectionObserver to watch the sentinel
    intersectionObserver.observe(sentinel);
</script>

<script>
    var swiper = document.querySelector('#swiper-rl')
    var rl_template = document.querySelector('#relst-template');
    var page = 1
    function loadrlStore() {
        document.getElementById('loading-text').innerHTML = "Loading...";
        document.getElementById('load-more-st').disabled = true;
        fetch(`/load-relative-store/{{store_id}}?page=${page}`).then((response) => {
            // Convert the response data to JSON
            response.json().then((res) => {
                
                // If empty JSON, exit the function
                if (!res.datas.length) {
                    return;
                }
                // Iterate over the items in the response
                for (let i = 0; i < res.datas.length; i++) {
                    // Clone the HTML template
                    let template_rel_clone = rl_template.content.cloneNode(true);
                    // // Query & update the template content
                    template_rel_clone.querySelector("#title-rl").innerHTML = res.datas[i].store.name;
                    
                    template_rel_clone.querySelector("#price-rl").innerHTML = res.datas[i].store.min_price + "đ - " +res.datas[i].store.max_price + "đ" ;
                    template_rel_clone.querySelector("#image-rl").setAttribute('src', res.datas[i].store.link_image[0])
                    template_rel_clone.querySelector("#link-rl").setAttribute('href', `/stores/${res.datas[i].store._id.$oid}`)  
                    template_rel_clone.querySelector("#recStore").setAttribute('value', res.datas[i].store._id.$oid)
                    // Append template to dom
                    swiper.appendChild(template_rel_clone);
                    console.log(res.end)
                    // Increment the counter
                }
                page += 1;
            })
            document.getElementById('load-more-st').disabled = false;
            document.getElementById('loading-text').innerHTML = "";
        })
        
        // document.getElementById("show-store").innerHTML = recStore;

    }

    loadrlStore()
    function getCompare(elem) {
        fetch(`/load-compare/{{store.id}}/${elem.value}`).then((response) => {
            // Convert the response data to JSON)
            response.json().then((res) => {
                recStore = elem.value; //someId
                var classifyRec = res.class_tar;
                var distanceRec = res.dis_tar;
                var starRec = res.star_tar;
                var reviewRec= res.review_tar;
                var storeRec = res.name_tar;
                var classifyCur = res.class_cur;
                var distanceCur = res.dis_cur;

                starRec += " " +  `<span class="fa fa-star checked" style="font-size:16px"></span></td>`;
                distanceCur = res.dis_cur;
                classifyCur = res.class_cur;
 

                document.getElementById("show-starRec").innerHTML = starRec;
                document.getElementById("show-reviewRec").innerHTML = reviewRec;
                document.getElementById("show-storeRec").innerHTML = storeRec;
                document.getElementById("show-distanceRec").innerHTML = distanceRec + " km";
                document.getElementById("show-classifyRec").innerHTML = Math.round((classifyRec+1)*5*100)/100;
                document.getElementById("show-distanceCur").innerHTML = distanceCur + " km";
                document.getElementById("show-classifyCur").innerHTML = Math.round((classifyCur+1)*5*100)/100;
            }
            )
        })

    }
    
</script>

{% if comment %}
    <script>
        fetch(`${window.origin}/load-analyze-comment/{{store.id}}/{{comment}}`)
        .then(function (response) {
            if (response.status !== 200) {
                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                return;
            }
            response.json().then(function (data) {
                console.log(data);
            });
        })
        .catch(function (error) {
            console.log("Fetch error: " + error);
        });
    </script>
{% endif %}

{% endblock %}