{% extends "base.html" %}
{% block content %}
{% include "recommend.html"%}
    <!-- SLIDER -->
    <section class="slider d-flex align-items-center">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    <h1>Cùng khám phá những nơi ăn uống tuyệt nhất thành phố Hồ Chí Minh</h1>
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">

                                <form action="{{ url_for('search.full_text') }}" method="GET"
                                      class="form-wrap mt-4 mb-3" id="search_form">
                                    <div class="btn-group justify-content-center">
                                        {{ form.q(placeholder="Địa điểm,...", class="form-control", id="user_input") }}
                                        <button type="submit" class="btn-form"><span
                                                class="icon-magnifier search-icon"></span>Tìm kiếm<i
                                                class="pe-7s-angle-right"></i></button>
                                    </div>
                                </form>
                                {% if search_obj == [] %}
                                    <div class="page-header row no-gutters mb-3">
                                        <div class="card form-control" style="border:0;">
                                            <h3 class="card-body">
                                                Không có kết quả tìm kiếm
                                            </h3>
                                        </div>
                                    </div>
                                {% endif %}
                                {% for obj in search_obj %}
                                    <div class="page-header row no-gutters mb-3 border-bottom"
                                         style="background-color: #f2f2f2;">
                                        <form method="POST" action="/store" class="form-control"
                                              style="border:0;padding:0;">
                                            <div class="card" style="border:0;">
                                                <button type="submit" class="card-body">
                                                    {{ obj["_source"]["name"] }}
                                                </button>
                                                <input name="name" value="{{ obj["_source"]["name"] }}"
                                                       style="display:none;">
                                            </div>
                                        </form>
                                    </div>
                                {% endfor %}
                                <!-- <div class="slider-link">
                                    <a href="#">Tìm nhanh dựa vào sở thích</a><span>hoặc</span> <a href="#">Tìm kiếm gần
                                    bạn nhất</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->
    <!--//END HEADER -->
    <!--============================= FIND PLACES =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Danh mục tiêu biểu</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby" >
                                        <a href ="/stores/?categories=nha-hang">
                                            <img src="{{ url_for('static', filename='images/find-place1.jpg') }}"
                                                class="img-fluid" alt="img13"/>
                                            <figcaption>
                                                <h5>Nhà hàng</h5>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <a href ="/stores/?categories=tiem-banh">
                                            <img src="{{ url_for('static', filename='images/find-place6.jpg') }}"
                                                class="img-fluid" alt="img13"/>
                                            <figcaption>
                                                <h5>Tiệm bánh</h5>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <a href ="/stores/?categories=cafe">
                                            <img src="{{ url_for('static', filename='images/find-place3.jpg') }}"
                                                class="img-fluid" alt="img13"/>
                                            <figcaption>
                                                <h5 >Cafe/Dessert</h5>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <a href ="/stores/?categories=quan-an">
                                            <img src="{{ url_for('static', filename='images/find-place2.jpg') }}"
                                                class="img-fluid" alt="img13"/>
                                            <figcaption>
                                                <h5>Quán ăn</h5>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <a href ="/stores/?categories=quan-nhau">
                                            <img src="{{ url_for('static', filename='images/find-place4.jpg') }}"
                                             class="img-fluid" alt="img13"/>
                                        <figcaption>
                                            <h5>Quán nhậu</h5>
                                        </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <a href ="/stores/?categories=an-vat-via-he">
                                            <img src="{{ url_for('static', filename='images/find-place5.jpg') }}"
                                                class="img-fluid" alt="img13"/>
                                            <figcaption>
                                                <h5>Ăn vặt/Vỉa hè</h5>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END FIND PLACES -->
    <!--============================= FEATURED PLACES =============================-->
    <section class="main-block light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Cửa hàng tiêu biểu</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 featured-responsive">
                    <div class="featured-place-wrap">
                        <a href="/stores/5ed7823fbcfa96ce65cb3bb0">
                            <img src="{{ url_for('static', filename='images/featured1.jpg') }}" class="img-fluid"
                                 alt="#">
                            <span class="featured-rating-orange">SS</span>
                            <div class="featured-title-box">
                                <h6>Trọng Ân - Tổ Chức Tiệc & Sự Kiện</h6>
                                <p>Tiệc tận nơi </p> <span>• </span>
                                <p>15 nhận xét</p> <span> • </span>
                                <p>4.9 <span class="fa fa-star checked" style="font-size:16px"></span></p>
                                <ul>
                                    <li>
                                        <span class="icon-location-pin"> 
                                            84 Lý Tế Xuyên, P. Linh Đông, Quận Thủ Đức 
                                        </span>
                                    </li>
                                    <li>
                                        <span class="fa fa-tag minmaxpriceicon" style="font-size:16px">
                                            
                                        </span>
                                        <span>
                                            Mức giá: 1500000đ - 6500000đ
                                        </span>
                                    </li>

                                </ul>
                               
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 featured-responsive">
                    <div class="featured-place-wrap">
                        <a href="/stores/5ed78400bcfa96ce65cb4882">
                            <img src="{{ url_for('static', filename='images/featured2.jpg') }}" class="img-fluid"
                                 alt="#">
                            <span class="featured-rating-orange">S</span>
                            <div class="featured-title-box">
                                <h6>Pizza 4P's - Pizza Kiểu Nhật - Xuân Thủy</h6>
                                <p>Nhà hàng </p> <span>• </span>
                                <p>1543 nhận xét</p> <span> • </span>
                                <p>4.4 <span class="fa fa-star checked" style="font-size:16px"></span></p>
                                <ul>
                                    <li>
                                        <span class="icon-location-pin"> 
                                            48/1 Xuân Thủy, P. Thảo Điền, Quận 2, TP. HCM 
                                        </span>
                                    </li>
                                    <li>
                                        <span class="fa fa-tag minmaxpriceicon" style="font-size:16px">
                                            
                                        </span>
                                        <span>
                                            Mức giá: 250000đ - 500000đ
                                        </span>
                                    </li>

                                </ul>
                               
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 featured-responsive">
                    <div class="featured-place-wrap">
                        <a href="/stores/5ed7837ebcfa96ce65cb4570">
                            <img src="{{ url_for('static', filename='images/find-place3.jpg') }}" class="img-fluid"
                                 alt="#">
                            <span class="featured-rating-orange">S</span>
                            <div class="featured-title-box">
                                <h6>Miyama - Modern Tokyo Restaurant Cafe - Saigon Centre</h6>
                                <p>Café/Dessert </p> <span>• </span>
                                <p>598 nhận xét</p> <span> • </span>
                                <p>4.8 <span class="fa fa-star checked" style="font-size:16px"></span></p>
                                <ul>
                                    <li>
                                        <span class="icon-location-pin"> 
                                            L3 - 01, Saigon Centre, 65 Lê Lợi, P. Bến Nghé 
                                        </span>
                                    </li>
                                    <li>
                                        <span class="fa fa-tag minmaxpriceicon" style="font-size:16px">
                                            
                                        </span>
                                        <span>
                                            Mức giá: 50000đ - 400000đ50000đ - 400000đ
                                        </span>
                                    </li>

                                </ul>
                               
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="featured-btn-wrap">
                        <a href="/stores" class="btn btn-danger">XEM TẤT CẢ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================= ADD LISTING =============================-->
    <section class="main-block light-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="add-listing-wrap">
                        <h2>Nơi bạn đang đứng hiện tại</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div id="map"></div>
                <!-- <div class="col-md-4"></div> -->             
                    <!-- <div class="featured-btn-wrap">
                        <a href="#" class="btn btn-danger"><span class="ti-plus"></span>Tìm kiếm</a>
                    </div> -->
                <!-- </div> -->
            </div>
        </div>
    </section>
    <!--//END ADD LISTING -->


    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow, pos;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: {lat: 10.7822782, lng: 106.7046318},
                zoom: 8
            });
            infoWindow = new google.maps.InfoWindow;
            var curLat, curLng;
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                curLat = position.coords.latitude;
                curLng = position.coords.longitude;
                // infoWindow.setPosition(pos);
                // infoWindow.setContent('Location found.');
                // infoWindow.open(map);
                
                fetch(`/load_geo_places`)
                .then(function(response) {
                    if (response.status !==200) {
                        console.log(`Looks like there was a problem load place. Status code: ${response.status}`);
                        return;
                    }
                    response.json().then(function(data) {
                        locations = data
                        var markers = locations.map(function(location) {
                            return new google.maps.Marker({
                                position: location,
                                id: location.id,
                                name: location.name,
                                image: location.link_img
                            });
                        });
                        var markerCluster = new MarkerClusterer(map, markers,
                        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                        markers.map(function(marker){
                            marker.addListener('click', function() {
                                console.log(marker.getPosition().toString())
                                console.log(marker.id)
                                var infowindow = new google.maps.InfoWindow({
                                    content: `<a href="/stores/${marker.id}">
                                                <div class="row">
                                                    <p class="col-12"><b>${marker.name}</b></p><br>
                                                </div>
                                                <div class="row">
                                                    <img class="col-12" src="${marker.image}" height="160px">
                                                </div>
                                            </a>`
                                });

                                infowindow.open(map, marker);

                            });
                        })
                        
                    });

            })
            .catch(function(error) {
                console.log("Fetch error: " + error);
            });
            
            map.setCenter(pos);
            fetch(`${window.origin}/load_geolocation?lat=${curLat}&lng=${curLng}`)
            .then(function(response) {
                if (response.status !== 200) {
                    console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    return;
                }
                response.json().then(function(data) {
                    console.log(data);
                    console.log(curLat, curLng);
                });
            })
            .catch(function(error) {
                console.log("Fetch error: " + error);
            });
        }, 
        function() {
            handleLocationError(true, infoWindow, map.getCenter());
        });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
            
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
        }
        
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='search/suggestion.js') }}"></script>
    <script>
        $('.input').keypress(function (e) {
            if (e.which == 13) {
                $('form#search_form').submit();
                return false;
            }
        });
    </script>
{% endblock %}