{% extends "base.html" %}
{% block content %}
    <!--============================= DETAIL =============================-->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 responsive-wrap">
                    <div class="row detail-filter-wrap">
                        <div class="col-md-4 featured-responsive">
                            <div class="detail-filter-text">
                                <p>34 Results For <span>Restaurant</span></p>
                            </div>
                        </div>
                        <div class="col-md-8 featured-responsive">
                            <div class="detail-filter">
                                <p>Filter by</p>
                                <form class="filter-dropdown">
                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                        <option selected>Best Match</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </form>
                                <form class="filter-dropdown">
                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect1">
                                        <option selected>Restaurants</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </form>
                                
                                <div class="map-responsive-wrap">
                                    <a class="map-icon" href="#"><span class="icon-location-pin"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row detail-checkbox-wrap">
                        {% for cate in categories%}
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <label class="custom-control custom-checkbox">
                                <input onclick="updateParamSearch()" type="checkbox" class="custom-control-input cate_id" name="{{cate.name_link}}">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-descriptioBiken">{{cate.name}}</span>
                            </label>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <div class="row">
                        <div class="row col-11">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3">
                                        <a href="/stores/?level=SS{{additional_params}}" class="btn btn-danger col-6" style="box-shadow: 0px -2px 3px 2px orange;">SS</a>
                                    </div>
                                    <div class="col-3">
                                        <a href="/stores/?level=S{{additional_params}}" class="btn btn-danger col-6">S</a>
                                    </div>
                                    <div class="col-3">
                                        <a href="/stores/?level=A{{additional_params}}" class="btn btn-warning col-6">A</a>    
                                    </div>
                                    <div class="col-3">
                                        <a href="/stores/?level=B{{additional_params}}" class="btn btn-primary col-6">B</a>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3">
                                        <a href="/stores/?level=C{{additional_params}}" class="btn btn-info col-6">C</a>
                                    </div>
                                    <div class="col-3">
                                        <a href="/stores/?level=D{{additional_params}}" class="btn btn-success col-6">D</a>
                                    </div>
                                    <div class="col-3">
                                        <a href="/stores/?level=E{{additional_params}}" class="btn btn-secondary col-6">E</a>
                                    </div>
                                    <div class="col-3">
                                        <a href="/stores/?level=F{{additional_params}}" class="btn btn-dark col-6">F</a>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <a id="a_id" href="/stores/?" class="btn btn-light"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="row light-bg detail-options-wrap">
                        <nav aria-label="Page navigation example" class="col-12">
                            <ul class="pagination justify-content-end">
                                {% if current_page == 1 %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" tabindex="-1">Đầu</a>
                                    </li>

                                    <li class="page-item active">
                                        <a class="page-link" href="">{{ current_page }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}">
                                            {{ current_page+1}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+2 }}{{additional_params}}">
                                            {{ current_page+2}}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page=1{{additional_params}}" tabindex="-1">Đầu</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page-1 }}{{additional_params}}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link"
                                           href="/stores/?page={{ current_page-1 }}{{additional_params}}">{{ current_page-1 }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="">{{ current_page }}</a>
                                    </li>

                                {% endif %}

                                {% if current_page == pages %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>

                                {% else %}
                                    {% if current_page !=1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}">
                                                {{ current_page+1}}</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>


                        <div class="col-12"><p>Tìm thấy khoảng {{pages*10}} cửa hàng</p></div>
                        {% for data in datas %}
                            
                            <div class="col-sm-12 col-lg-12 col-xl-12 featured-responsive" style="margin-bottom: 15px;">
                                <div class="featured-place-wrap">
                                    <a href="/stores/{{ data['store'].id }}">
                                        <div class="row">
                                            <div class="featured-title-box col-lg-4 col-sm-4 col-xs-12">
                                                <img height="200px" src="{{ data['store'].link_image[0] }}"  alt="#">
                                            </div>
                                            
                                            <span class="featured-rating-orange">{{data['classify']}}</span>
                                            <div class="featured-title-box col-lg-8 col-sm-8 col-xs-12">
                                                <h6>{{ data['store'].name }}</h6>
                                                {% for cate in data['cates'] %}
                                                    <p>{{ cate[0].name }}</p> <span> • </span>
                                                {% endfor %}
                                                <br>
                                                <p>{{ data['store'].reviewer_quant }} Reviews</p>
    
                                                <ul>
                                                    <li><span class="icon-location-pin"></span>
                                                        <p>{{ data['address'][0].detail }}</p>
                                                    </li>
                                                    <li><span class="icon-screen-smartphone"></span>
                                                        <p>+44 20 7336 8898</p>
                                                    </li>
                                                    <li><span class="icon-link"></span>
                                                        <p>https://burgerandlobster.com</p>
                                                    </li>
    
                                                </ul>
                                                <div class="bottom-icons">
                                                    <!-- <div class="closed-now">CLOSED NOW</div> -->
                                                    <span class="ti-heart"></span>
                                                    <span class="ti-bookmark"></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </a>
                                </div>
                            </div>
                            
                        {% endfor %}


                        <nav aria-label="Page navigation example" class="col-12">
                            <ul class="pagination justify-content-end">
                                {% if current_page == 1 %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" tabindex="-1">Đầu</a>
                                    </li>

                                    <li class="page-item active">
                                        <a class="page-link" href="">{{ current_page }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}">
                                            {{ current_page+1}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+2 }}{{additional_params}}">
                                            {{ current_page+2}}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page=1{{additional_params}}" tabindex="-1">Đầu</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page-1 }}{{additional_params}}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link"
                                           href="/stores/?page={{ current_page-1 }}{{additional_params}}">{{ current_page-1 }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="">{{ current_page }}</a>
                                    </li>

                                {% endif %}

                                {% if current_page == pages %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>

                                {% else %}
                                    {% if current_page !=1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}">
                                                {{ current_page+1}}</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>


                </div>
                <div class="col-md-5 responsive-wrap map-wrap">
                    <div class="map-fix">
                        <!-- data-toggle="affix" -->
                        <!-- Google map will appear here! Edit the Latitude, Longitude and Zoom Level below using data-attr-*  -->
                        <div id="map" data-lat="40.674" data-lon="-73.945" data-zoom="14"></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function updateParamSearch(){
                var cates = document.getElementsByTagName("input");
                var link ="/stores/?categories="
                for (cate of cates){
                    if (cate.checked == true){
                        link+=cate.name+','
                    }
                }
                link = link.substring(0, link.length - 1);
                document.getElementById("a_id").href = link
            }
            updateParamSearch()
        </script>
    </section>

    <!--//END DETAIL -->
{% endblock %}