{% extends "base.html" %}
{% block content %}
{% include "recommend.html"%}
    <!--============================= DETAIL =============================-->
    <section>
        <div class="container container-fluid">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <form method="POST" action="/stores/">
                    <div class="row detail-filter-wrap">
                        
                            <div class="col-md-7 featured-responsive">
                                <div class="detail-filter-text">
                                    <p>Lọc kết quả</p>
                                </div>
                            </div>

                            <div class="col-md-3 featured-responsive">
                                <div class="detail-filter">
                                    <p>Chất lượng</p>
                                    <select name="star" class="custom-select">
                                        <option class="star-filter" value=0>Thấp nhất</option>
                                        <option class="star-filter" value=1>Cao nhất</option>
                                    </select>
                                </div>
                            </div>
                        
                            <div class="col-md-2 featured-responsive">
                                <div class="detail-filter">
                                    <p>Số sao</p>
                                    <select name="star" class="custom-select">
                                        <option class="star-filter">None</option>
                                        <option class="star-filter" value=5>5 sao</option>
                                        <option class="star-filter" value=4>4 sao</option>
                                        <option class="star-filter" value=3>3 sao</option>
                                        <option class="star-filter" value=2>2 sao</option>
                                        <option class="star-filter" value=1>1 sao</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row detail-checkbox-wrap col-11">
                                    {% for cate in categories%}
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <label class="custom-control custom-checkbox">
                                            {% if selected_dics["cates"][cate.name_link] %}
                                            <input onclick="updateParamSearch()" type="checkbox" class="custom-control-input cate_id" name="cate" value="{{cate.name_link}}" checked>
                                            {% else %}
                                            <input onclick="updateParamSearch()" type="checkbox" class="custom-control-input cate_id" name="cate" value="{{cate.name_link}}">
                                            {% endif %}
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-descriptioBiken">{{cate.name}}</span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                                <div class="col-1">
                                    <!-- <a style="margin-top:40px;" id="a_id" href="/stores/?" class="btn btn-dark"><i class="fa fa-search"></i></a> -->
                                    <input type="submit" style="margin-top:40px;" class="btn btn-dark" value="Find">
                                </div>
                            </div>
                        
                    </div>
                    </form>
                    <div class="col-md-4 featured-responsive" style="margin-top: 10px;">
                        <div class="detail-filter-text">
                            <p>Chọn độ <b>Phổ biến</b></p>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="row col-12">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3">
                                        <a title="Trên 1000 reviews" href="/stores/?level=SS{{additional_params}}" class="btn btn-danger col-6" style="box-shadow: 0px -2px 3px 2px orange;">SS</a>
                                    </div>
                                    <div class="col-3">
                                        <a title="Từ 500-1000 reviews" href="/stores/?level=S{{additional_params}}" class="btn btn-danger col-6">S</a>
                                    </div>
                                    <div class="col-3">
                                        <a title="Từ 200-500 reviews" href="/stores/?level=A{{additional_params}}" class="btn btn-warning col-6">A</a>    
                                    </div>
                                    <div class="col-3">
                                        <a title="Từ 100-200 reviews" href="/stores/?level=B{{additional_params}}" class="btn btn-primary col-6">B</a>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3">
                                        <a title="Từ 50-100 reviews" href="/stores/?level=C{{additional_params}}" class="btn btn-info col-6">C</a>
                                    </div>
                                    <div class="col-3">
                                        <a title="Từ 10-50 reviews" href="/stores/?level=D{{additional_params}}" class="btn btn-success col-6">D</a>
                                    </div>
                                    <div class="col-3">
                                        <a title="Từ 3-10 reviews" href="/stores/?level=E{{additional_params}}" class="btn btn-secondary col-6">E</a>
                                    </div>
                                    <div class="col-3">
                                        <a title="Dưới 3 reviews" href="/stores/?level=F{{additional_params}}" class="btn btn-dark col-6">F</a>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row light-bg detail-options-wrap">
                        <nav aria-label="Page navigation example" class="col-12">
                            <ul class="pagination justify-content-end">
                                {% if pages < 3 %}
                                    {% for i in range(pages) %}
                                        <li class="page-item">
                                            <a class="page-link" href="/stores/?page={{ i+1 }}{{additional_params}}">
                                                {{i+1}}</a>
                                        </li>
                                    {% endfor %}
                                {% elif current_page == 1 %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" tabindex="-1">Đầu</a>
                                    </li>

                                    <li class="page-item active">
                                        <a class="page-link" href="">{{ current_page }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}">
                                            {{ current_page+1}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+2 }}{{additional_params}}">
                                            {{ current_page+2}}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page=1{{additional_params}}" tabindex="-1">Đầu</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page-1 }}{{additional_params}}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link"
                                           href="/stores/?page={{ current_page-1 }}{{additional_params}}">{{ current_page-1 }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="">{{ current_page }}</a>
                                    </li>

                                {% endif %}

                                {% if current_page == pages or pages == 0 %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>

                                {% else %}
                                    {% if current_page !=1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}">
                                                {{ current_page+1}}</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>


                        <div class="col-12"><p>Tìm thấy {{pages}} trang có cửa hàng
                            
                            {% if selected_dics['level']%}
                                cấp <b style="color: red;">{{selected_dics['level']}}</b>,
                            {% endif %}
                            {% if selected_dics['star']%}
                                sao <b style="color: black;">{{selected_dics['star']}}</b>
                            {% endif %}
                            {% for k,v in selected_dics["cates"].items() %}
                                {% if v %}
                                    , <i style="color: blue;">{{k}}</i>
                                {% endif %}
                            {% endfor %}
                        </p>
                        </div>
                        {% for data in datas %}
                        
                        
                        
                            
                            <div class="col-sm-12 col-lg-12 col-xl-12 featured-responsive" style="margin-bottom: 15px;">
                                <div class="featured-place-wrap">
                                    <a href="/stores/{{ data['store'].id }}">
                                        <div class="row">
                                            <div class="featured-title-box col-lg-4 col-sm-4 col-xs-12">
                                                <img height="200px" src="{{ data['store'].link_image[0] }}"  alt="#">
                                            </div>
                                            
                                            <span class="featured-rating-orange">{{((data['score']+1)*5)|round(2)}}</span>
                                            <div class="featured-title-box col-lg-8 col-sm-8 col-xs-12">
                                                <h6>{{ data['store'].name }}</h6>
                                                {% for cate in data['cates'] %}
                                                    <p>{{ cate[0].name }}</p> <span> • </span>
                                                {% endfor %}
                                                <br>
                                                <p>{{ data['store'].reviewer_quant }} Đánh giá</p><br>
                                                <p>{{ data['store'].stars }} Sao</p>
                                                <ul>
                                                    <li><span class="icon-location-pin"></span>
                                                        <p>{{ data['address'][0].detail }}</p>
                                                    </li>
                                                    <li><span class="icon-screen-smartphone"></span>
                                                        <p>+44 20 7336 8898</p>
                                                    </li>
                                                    <li><span class="icon-link"></span>
                                                        <p>https://burgerandlobster.com</p>
                                                    </li>
    
                                                </ul>
                                                <div class="bottom-icons">
                                                    <!-- <div class="closed-now">CLOSED NOW</div> -->
                                                    <span class="ti-heart"></span>
                                                    <span class="ti-bookmark"></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </a>
                                </div>
                            </div>
                            
                        {% endfor %}


                        <nav aria-label="Page navigation example" class="col-12">
                            <ul class="pagination justify-content-end">
                                {% if pages < 3 %}
                                    {% for i in range(pages) %}
                                        <li class="page-item">
                                            <a class="page-link" href="/stores/?page={{ i+1 }}{{additional_params}}">
                                                {{i+1}}</a>
                                        </li>
                                    {% endfor %}

                                {% elif current_page == 1 %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" tabindex="-1">Đầu</a>
                                    </li>

                                    <li class="page-item active">
                                        <a class="page-link" href="">{{ current_page }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}">
                                            {{ current_page+1}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+2 }}{{additional_params}}">
                                            {{ current_page+2}}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page=1{{additional_params}}" tabindex="-1">Đầu</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page-1 }}{{additional_params}}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link"
                                           href="/stores/?page={{ current_page-1 }}{{additional_params}}">{{ current_page-1 }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="">{{ current_page }}</a>
                                    </li>

                                {% endif %}

                                {% if current_page == pages  or pages == 0 %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>

                                {% else %}
                                    {% if current_page !=1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}">
                                                {{ current_page+1}}</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link" href="/stores/?page={{ current_page+1 }}{{additional_params}}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>
        <script>
            link = "/stores/"
            function updateParamSearch(){
                var cates = document.getElementsByTagName("input");
                var temp ="?categories="
                for (cate of cates){
                    if (cate.checked == true){
                        temp+=cate.name+','
                    }
                }
                temp = temp.substring(0, temp.length - 1);
                console.log(temp)
                document.getElementById("a_id").href = link + temp
            }
            function updateParamStarSearch(){
                console.log("aaa")
                var cates = document.getElementsByClassName("stars_filter");
                var temp ="?star="
                for (cate of cates){
                    if (cate.checked == true){
                        temp+=cate.value+','
                    }
                }
                temp = temp.substring(0, temp.length - 1);
                console.log(temp)
                document.getElementById("a_id").href = link + temp
            }
            updateParamSearch()
        </script>
    </section>

    <!--//END DETAIL -->
{% endblock %}