<!-- <button class="open-button" onclick="openForm()">Chat</button> -->

<div class="chat-popup" id="formRecommend">
    <form class="form-container">
        <label for="msg"><b>Gợi ý</b></label>
        <div class="alert alert-primary" id="recommend-text">Có phải bạn muốn tìm kiếm về  </div>
        <a class="btn btn-success" href="/reset-rec?rp=y" id="btn-recommend">Đồng ý</a>
        <button type="button" class="btn cancel" onclick="closeForm()">Hủy</button>
    </form>
</div>

<script>
    function openForm() {
        document.getElementById("formRecommend").style.display = "block";
    }

    function closeForm() {
        document.getElementById("formRecommend").style.display = "none";
        fetch(`/reset-rec?rp=n`).then((response) => {

        })
    }
</script>
<script>
    function loadPredictCate(){
        fetch(`/load-predict-cate`).then((response) => {
            response.json().then(function(data) {
                if (response.status == 201){
                    openForm()
                    // key = Object.keys(data)[1]
                    value = data[1] 
                    document.getElementById("recommend-text").innerHTML += value + " ?"
                    document.getElementById("btn-recommend").setAttribute('href', `/reset-rec?rp=${data[0]}`)
                    console.log(data[0])
                }
            })
        })
    }
    loadPredictCate()
</script>