{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            <!-- End Main Sidebar -->
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 m-auto">
                <div class="main-content-container container-fluid m-auto">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4 mb-3 border-bottom justify-content-center">
                        <div class="col-12 col-sm-4 text-center mb-0">
                            <h3 class="page-title">Blog Ăn Uống</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-5 mb-4">
                            <div class="card card-small mb-4">
                                <div class="card-body">
                                    <input action="/reset-password" method="post">
                                        {{ form.csrf_token }}
                                        {% if error %}
                                            <div class="input-group mb-3">
                                                <div class="alert alert-danger fade show mb-0 w-100"
                                                     role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <i class="fa fa-info mx-2"></i>
                                                    <strong>{{ error }}</strong></div>
                                            </div>
                                        {% endif %}

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                {{ form.password(placeholder="Mật khẩu", class="form-control") }}
                                            </div>
                                        </div>

                                        {% if form.password.errors %}
                                            {% for error in form.password.errors %}
                                                <div class="form-group">
                                                    <strong class="text-warning d-block mb-2">
                                                        {{ error }}
                                                    </strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                {{ form.password_confirm(placeholder="Nhập lại mật khẩu", class="form-control") }}
                                            </div>
                                        </div>

                                        {% if form.password_confirm.errors %}
                                            {% for error in form.password_confirm.errors %}
                                                <div class="form-group">
                                                    <strong class="text-warning d-block mb-2">
                                                        {{ error }}
                                                    </strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <input type="button" id="user_id" name="user_id" style="display:none;"></input>
                                        <button type="submit" class="mb-2 btn btn-danger mr-2 w-100">ĐỔI MẬT KHẨU</button>
                                    </form>

                                    {#                                    <hr>#}
                                    {#href="{{ url_for('users.oauth_authorize', provider='facebook') }}"#}
                                    {#                                    <a class="btn btn-block btn-primary w-20 center"#}
                                    {#                                        id="submitFb"#}
                                    {#                                       target="windowfb">Login with Facebook</a>#}
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </main>
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %}